#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.navbar {
  height: 80px;
  background-color: #1b1464;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  padding: .5rem 1rem;
}

.logo {
  padding-left: 95px;
}

.li-item {
  list-style: none;
  padding: .5rem 1rem;
}

.user-items {
  padding-right: 95px;
}


