body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.font_iCiel_Panton {
  font-family: iCiel Panton;
}

.font_iCiel_Crocante {
  font-family: iCiel Crocante;
}

.font_iCiel_Panton {
  font-family: iCiel Panton;
}

.font_Quicksand {
  font-family: Quicksand;
}

.font_Baloo {
  font-family: Baloo;
}

.navbar {
  height: 80px;
  background-color: #1b1464;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: .5rem 1rem;
}

.logo {
  padding-left: 95px;
}

.li-item {
  list-style: none;
  padding: .5rem 1rem;
}

.user-items {
  padding-right: 95px;
}

.onboarding_1 {
  min-height: 100vh;
  margin-left: 0;
  margin-right: 0;
  background-image: url("../src/assets/onboarding_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.onboarding_1 img {
  max-width: 100%;
  max-height: 80%;
  margin-top: 80px;
}

.onboarding_text {
  margin-top: 195px;
  display: inline-block;
}

.shadow-text {
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  line-height: 55px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-shadow: 2px 0 #fdbd35, -2px 2px 0 #fdbd35, 2px -2px 0 #fdbd35, -2px -2px 0 #fdbd35, 0px 2px 0 #fdbd35, 0px -2px 0 #fdbd35, -2px 0px 0 #fdbd35, 2px 0px 0 #fdbd35, 4px 4px 0 #fdbd35, -4px 4px 0 #fdbd35, 4px -4px 0 #fdbd35, -4px -4px 0 #fdbd35, 0px 4px 0 #fdbd35, 0px -4px 0 #fdbd35, -4px 0px 0 #fdbd35, 4px 0px 0 #fdbd35, 2px 4px 0 #fdbd35, -2px 4px 0 #fdbd35, 2px -4px 0 #fdbd35, -2px -4px 0 #fdbd35, 4px 2px 0 #fdbd35, -4px 2px 0 #fdbd35, 4px -2px 0 #fdbd35, -4px -2px 0 #fdbd35;
  margin-bottom: 1rem;
}

.shadow-text-small {
  font-size: 25px;
}

.onboarding_button_1 {
  padding: 10px 20px;
  color: #FFFFFF;
  line-height: 25px;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  border-color: #FDBD35;
  border-style: solid;
  border-radius: 20px;
  background: #FDBD35;
}

.row {
  position: relative;
  top: 38px;
  padding-left: 80px;
  padding-right: 105px;
}

.text-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  padding-top: 40px;
  color: #000;
  margin-bottom: 1rem;
}

.onboarding_button_2 {
  padding: 10px 20px;
  color: #00AAEC;
  background-color: #FFFFFF;
  border: 1px solid #00AAEC;
  border-style: solid;
  border-radius: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 25px;
  margin-top: 20px;
}

.onboarding_4 {
  min-height: 100vh;
  margin-left: 0;
  margin-right: 0;
  background-image: url("../src/assets/onboarding_4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.step-title {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 0;
}

.step-desc {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #272727;
}

.footer {
  height: 640px;
  color: #fff;
  background-image: url("../src/assets/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  margin-left: 115px;
  margin-right: 115px;
  padding-top: 185px; 
}

.wrapper-info {
  margin-top: 32px;
}

.footer .wrapper .wrapper-info .info p:first-child {
  margin-top: 0;
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: bolder;
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
}

.footer .wrapper .wrapper-info .info p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.footer .wrapper .wrapper-info .info svg {
  display: inline-block;
  margin: 0 5px;
}

.show-modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1040;
  overflow:auto;
  background-color: rgba(0,0,0,.5);
}

.modal-content {
  position: fixed;
  left: 250px;
  right: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 45px 20px;
  margin: 15rem auto;
  width: 80%;
  max-width: 450px;
  height: 280px;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 25px;
}

.close {
  position: absolute;
  z-index: 100;
  right: 10px;
  top: 20px;
  cursor: pointer;
  padding-right: 30px;
  font-weight: 900;
}

.form {
  padding: 0 2.5rem;
  margin-bottom: 1rem;
}

.onboarding_input {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  padding: .5rem 1rem;
  display: block;
  height: 50px;
  width: 100%;
  color: #495057;
  border: 1px solid #00AAEC;
  border-radius: .5rem;
}

.otp-input {
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  border: 2px solid #00AAEC;
  border-radius: 5px;
}

.logout {
  height: auto;
}

.gift_card {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .5rem
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.gift_card .gift_card_body .gift_rating .fa-star {
  color: orange;
}

.gift_detail_wrapper .gift_rating .fa-star {
  color: orange;
}

.gift_card_body .gift_rating .fa-star {
  color: orange;
}

.gift_title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #272727;
  margin-top: 20px;
  margin-bottom: 10px;
}

.gift_price {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  color: #00AAEC;
  margin-bottom: 10px;
}

.gift_detail_button {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background: #00AAEC;
  border-radius: 20px;
  border: 1px solid #00AAEC;
  cursor: pointer;
  text-transform: uppercase;
}

.header_title h1 {
  font-family: iCiel Crocante;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 50px;
  color: #000000;
  text-transform: uppercase;
}

.solid {
  border: 1px solid #c4c4c4;
  margin-top: 25px;
  margin-bottom: 25px;
}

.profile_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 15px;
}

.navigation_col {
  border-right: 1px solid #c4c4c4;
}

.profile_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile_name {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #414141;
  text-transform: uppercase;
}

.navigation_list {
  width: 170px;
}

.navigation_item {
  text-decoration: none;
  color: #414141;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.navigation_item:hover {
  color: #00AAEC;
}

.navigation_menu a.active {
  color: #00AAEC;
}

.back_button {
  width: 60px;
  height: 40px;
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 45px;
}

.info_content h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 40px;
  text-transform: uppercase;
}

.info_content p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #414141;
  margin-bottom: 2rem;
}

.form_group {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  gap: 1rem;
}

.form_control {
  display: block;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form_control:disabled {
  background-color: #e9ecef;
  opacity: 1;
}

.form_control_radio {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.form_check {
  display: block;
  padding: 0.5rem 0.75rem;
  flex-grow: 1;
}

.form_button {
  padding: 10px 20px;
  color: #00AAEC;
  background-color: #FFFFFF;
  border: 1px solid #00AAEC;
  border-style: solid;
  border-radius: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 25px;
  margin-top: 20px;
}

.coupon_wrapper_item {
  border: 1px solid #c4c4c4;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 5px;
  border-radius: 10px;
  font-family: Quicksand;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #414141;
}

.table_container {
  width: 100%;
  border: 1px solid #ddd;
  overflow: auto;
}

.coupon_table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid #111;
  white-space: nowrap;
}

.coupon_table thead {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.coupon_table th, .coupon_table td {
  padding: 10px 5px;
  border: 1px solid #ddd;
}

.detail_button {
  border: 1px solid #00AAEC;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 10px 10px;
  background: #00AAEC;
  border-radius: 20px;
}

.table_scroll_y {
  display: block;
  max-height: 300px;
  overflow-y: auto;
  max-width: 100%;
  width: 100%;
}

.table_scroll_y tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.no_cards {
  height: auto;
}

.coupon_table_item {
  border-bottom: 1px solid #111;
  font-size: 20px;
  font-weight: 500;
  line-height: 35px;
  color: #111;
  text-align: center;
}

.empty_cart {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.gift_detail_item {
  cursor: pointer;
  padding: 5px;
  border: 1px solid lightgray;
  color: #8F8F8F;
  font-size: 15px;
  line-height: 25px;
  margin-right: 20px;
}

.gift_detail_item:hover {
  color: #green;
  border: 1px solid green;
}

.gift_detail_item_active {
  color: #green;
  border: 1px solid green;
}

.gift_detail_quantity_counter {
  border: 1px solid #272727;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.gift_detail_quantity_counter_button {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #272727;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #272727;
}

.gift_detail_quantity_counter_input {
  width: 50px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #272727;
  padding-left: 10px;
}

/* Hide the arrows on Chrome, Safari, Edge, and Opera */
.gift_detail_quantity_counter_input::-webkit-outer-spin-button,
.gift_detail_quantity_counter_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the arrows on Firefox */
.gift_detail_quantity_counter_input[type="number"] {
  -moz-appearance: textfield;
}

.gift_notes_title {
  margin-bottom: 5px;
}

.gift_notes {
  text-align: justify;
  margin-bottom: 5px;
}

.slick_track {
  width: 580px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 20px;
}

.slick_track_item {
  border: 1px solid lightgray;
  border-radius: 10px;
  cursor: pointer;
}

.gift_cart_container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10px;
}

.gift_cart_line {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

.gift_cart_img {
  width: 100px;
  height: 80px;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid lightgray;
}

.gift_cart_props {
  color: #8F8F8F;
  font-size: 16px;
  line-height: 25px;
  margin-right: 20px;
}

.transaction {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.item_list_carousel {
  width: 100%;
  overflow: hidden;
}

.items_carousel {
  display: flex;
  align-items: center;
  position: relative;
}

.carousel_track {
  display: flex;
  transition: transform 0.5s ease;
}

.item_carousel_item {
  /* Hiển thị 4 sản phẩm mỗi lần (100% / 4) */
  flex: 0 0 25%;
  padding: 10px;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.item_carousel_prev, .item_carousel_next {
  background: black;
  border-radius: 5px;
  width: 20px;
  font-size: 24px;
  color: white;
  position: absolute;
  top: 55%;
  /* transform: translate(0, -50%) */
}

.item_carousel_prev {
  position: absolute;
  left: 0;
  z-index: 1;
}

.item_carousel_next {
  position: absolute;
  right: 0;
  z-index: 1;
}

.border_right {
  border-right: 1px solid lightgray;
}

.bottom_nav {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  width: 300px;
  height: 60px;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0px -2px 10px 3px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
}

.bottom_nav_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.modal_wrapper {
  position: fixed;
  left: 250px;
  right: 250px;
  padding: 0 20px 45px;
  margin: 5rem auto;
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: calc(100% - 10rem);
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 25px;
}

.modal_header {
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
}

.remain_card {
  display: flex;
  font-size: 18px;
}

.input_card {
  width: 100%;
  margin-bottom: 0.75rem;
}

.button_row {
  display: flex;
  justify-content: space-between;
}